body {
    padding: 0;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: #ff4fb0;
}